@(boroughs: List[Borough])

@main("Map") {


	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />
	<!--[if lte IE 8]>
	    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.ie.css" />
	<![endif]-->
	
	<script src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"></script>

	<h2>Borough map</h2>
	
	<table>
	@for(b <-boroughs) {
		<tr>
			<td>
				<strong style="color: @b.color; " title="Population: @b.population">@b.name </strong>
			</td>
		</tr>
	}
	</table>

	<div id="map" style="width: 1000px; height: 1000px"></div>
	<script>

	
		var map = L.map('map', {crs: L.CRS.EPSG4326}).setView([25.67693,-100.31370], 13);

		/*

		VECTORES
		http://gaia.inegi.org.mx/NLB/balancer.do?map=/opt/map/mdm5vector.map&LAYERS=c102%2Cc200%2Cc100%2Cc101&TRANSPARENT=true&FORMAT=image%2Fpng&SERVICE=WMS&VERSION=1.1.1&REQUEST=GetMap&STYLES=&EXCEPTIONS=application%2Fvnd.ogc.se_xml&SRS=EPSG%3A4326&BBOX=-100.36590813597,25.69088591878,-100.34556089661,25.696322446796&WIDTH=1920&HEIGHT=513				

		TEXTOS
		http://gaia.inegi.org.mx/NLB/balancer.do?map=/opt/map/mdm5texto.map&LAYERS=t102%2Ct106%2Ct200%2Ct100%2Ct101&TRANSPARENT=true&FORMAT=image%2Fpng&SERVICE=WMS&VERSION=1.1.1&REQUEST=GetMap&STYLES=&EXCEPTIONS=application%2Fvnd.ogc.se_xml&SRS=EPSG%3A4326&BBOX=-100.36590813597,25.69088591878,-100.34556089661,25.696322446796&WIDTH=1920&HEIGHT=513						

		*/
		
		options = { };
		L.tileLayer.wms("http://gaia.inegi.org.mx/NLB/balancer.do", {
		    layers: 'c102,c200,c100,c101&map=/opt/map/mdm5vector.map',
		    format: 'image/png',
		    attribution: "&copy; INEGI 2013",
		    transparent: true,
		    crs: L.CRS.EPSG4326,
		    tileSize: 256
		}).addTo(map);

		options = { };
		L.tileLayer.wms("http://gaia.inegi.org.mx/NLB/balancer.do", {
		    layers: 't102,t106,t200,t101&map=/opt/map/mdm5texto.map',
		    format: 'image/png',
		    attribution: "&copy; INEGI 2013",
		    transparent: true,
		    crs: L.CRS.EPSG4326,
		    tileSize: 256
		}).addTo(map);
		
		
		L.marker([25.67693,-100.31370]).addTo(map)
			.bindPopup("El mero centro de <b>Monterrey</b>").openPopup();

		var popup = L.popup();

		function onMapClick(e) {
			popup
				.setLatLng(e.latlng)
				.setContent("Coordenadas (" + e.latlng.toString() + ")")
				.openOn(map);
		}

		map.on('click', onMapClick);

	</script>

}


